body {
 font-family: sans-serif;
 background-color: #212121;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 height: 60vh;
 margin: 0;
 padding: 0;
}

h1 {
 font-size: 2.5rem;
 color: white;
 text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

section button {
    padding: 0.5rem 1.0rem;
    border: none;
    border-radius: 0.8rem;
    background-color: aqua;
    color: black;
    font-size: 1rem;
    cursor: pointer;
}

section button:hover {
    background-color: antiquewhite;
    box-shadow: 0 1px 8px antiquewhite;
}